<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">{{ sc|stringformat:"s" }}</a>
        {% for task in task_list %}
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-profile-{{ forloop.counter }}" role="tab" aria-controls="nav-profile" aria-selected="false">{{ task|stringformat:"s" }}</a>
        {% endfor %}
        {% if can_create %}
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-issue" role="tab" aria-controls="nav-contact" aria-selected="false">+</a>
        {% endif %}
    </div>
</nav>
<div class="tab-content" id="nav-tabContent" style="height: 95%">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="height: 100%;">{% include 'group_info.html' %}</div>
    {% for task in task_list %}
        <div class="tab-pane fade" id="nav-profile-{{ forloop.counter }}" role="tabpanel" aria-labelledby="nav-profile-tab" style="height: 100%;">{% include 'lab_info.html' %}</div>
    {% endfor %}
    {% if can_create %}
        <div class="tab-pane fade" id="nav-issue" role="tabpanel" aria-labelledby="nav-contact-tab" style="height: 100%;">{% include 'issue.html' %}</div>
    {% endif %}
</div>
