<div class="chat">
    <div class="current_chat_date">
        <p class="current_chat_date_text">17.04.19</p>
    </div>
    <div class="current_chat_incoming_first">
        <div class="current_chat_incoming_first_img">
            <img src="{% static 'images/icon.svg' %}" style="width: 40px; height: 40px;">
        </div>
        <div class="current_chat_incoming_first_container">
            <p class="current_chat_incoming_first_container_text">Message text.</p>
            <div class="current_chat_incoming_first_container_time">
                <p class="current_chat_incoming_first_container_time_text">12:55</p>
            </div>
        </div>
    </div>
    <div class="current_chat_incoming_next">
        <div class="current_chat_incoming_next_container">
            <p class="current_chat_incoming_next_container_text">Message text.</p>
            <div class="current_chat_incoming_next_container_time">
                <p class="current_chat_incoming_next_container_time_text">12:56</p>
            </div>
        </div>
    </div>
    <div class="current_chat_outgoing">
        <p class="current_chat_outgoing_text">Message text.</p>
        <div class="current_chat_outgoing_isread_img">

        </div>
        <p class="current_chat_outgoing_time">13:30</p>
    </div>
</div>